@use 'common/var.scss' as *;
@use 'markdown/index.scss' as markdown;
@use 'code-highlight/index.scss' as code-highlight;
@use 'code-mermaid/index.scss' as code-mermaid;
@use 'dark/css-vars.scss' as dark-css-vars;
@use 'sender/index.scss' as sender;
@use 'tooltip/index.scss' as tooltip;
@use 'popover/index.scss' as popover;
@use 'files-upload/index.scss' as files-upload;
@use 'drag-upload/index.scss' as drag-upload;
@use 'files-card/index.scss' as files-card;
@use 'thought-chain/index.scss' as thought-chain;
@use 'thinking/index.scss' as thinking;
@use 'bubble/index.scss' as bubble;
@use 'bubble-list/index.scss' as bubble-list;
@import url('./font/iconfont.css');
