// CSS3 var
@use '../common/var.scss' as *;
@use '../mixins/mixins.scss' as *;
@use '../mixins/config.scss' as *;

html.dark {
  @include dark-style;
  @include b(markdown) {
    @include dark-markdown;
  }
}

@include b(code-highlight) {
  &.#{$namespace}-code-highlight--dark {
    @include dark-style;
  }
}
@include b(code-mermaid) {
  &.#{$namespace}-code-mermaid--dark {
    @include dark-style;
  }
}
@include b(markdown) {
  &.#{$namespace}-markdown--dark {
    @include dark-markdown;
  }
}

@include b(tooltip) {
  .#{$namespace}-tooltip__popper {
    &:not(.is-dark) {
      @include dark-style;
    }
  }
}

@include b(popover) {
  .#{$namespace}-popover__popper {
    &:not(.is-dark) {
      --el-ai-popover-bg-color: #1d1e1f;
      --el-ai-popover-text-color: #e5eaf3;
      --el-ai-popover-border-color: #3d3d3d;
      --el-ai-popover-title-color: #e5eaf3;
    }
  }
}
